.tower{
    width: 20px;
    height: 60px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.tower::before, .tower::after{
    display: block;
    content: "";
    position: absolute;
    background-color: inherit;
}

.tower::before{
    width: 38px;
    height: 15px;
    left: -9px;
    top: -15px;
}

.tower::after{
    width: 60px;
    height: 8px;
    top: 60px;
    right: -21px;
}