.warior{
    width: 15px;
    height: 60px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.warior::before, .warior::after{
    display: block;
    content: "";
    position: absolute;
}

.warior::before{
    border: 30px solid;
    border-bottom-color: inherit; /*Почему тут наследуется, хоть и не должен. А для коня - нет*/
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 0 0 30px 30px;
    left: -22px;
    top: -49px;
}

.warior::after{
    width: 60px;
    height: 8px;
    background-color: inherit;
    top: 60px;
    right: -21px;
}